// Slide From Left
@-webkit-keyframes slideFromLeft {
    from { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes slideFromLeft {
    from { -moz-transform: translateX(-100%); }
}
@keyframes slideFromLeft {
    from { transform: translateX(-100%); }
}