// Slide From Top
@-webkit-keyframes slideFromTop {
    from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes slideFromTop {
    from { -moz-transform: translateY(-100%); }
}
@keyframes slideFromTop {
    from { transform: translateY(-100%); }
}