// requires "keyframes/scaleDown";
// requires "keyframes/slideFromTop";

.animating {

    .scaleDown.down {

        &.in {
            -webkit-animation: slideFromTop $animationTime ease;
            -moz-animation: slideFromTop $animationTime ease;
            animation: slideFromTop $animationTime ease;
        }

        &.out {
            -webkit-animation: scaleDown $slowerAnimTime ease;
            -moz-animation: scaleDown $slowerAnimTime ease;
            animation: scaleDown $slowerAnimTime ease;
        }

    }

}