// requires "keyframes/slideToBottom";
// requires "keyframes/slideFromTop";

.animated-region.animating {

    .slide.down {

        &.in {
            -webkit-animation: slideFromTop $animationTime ease;
            -moz-animation: slideFromTop $animationTime ease;
            animation: slideFromTop $animationTime ease;
        }

        &.out {
            -webkit-animation: slideToBottom $animationTime ease;
            -moz-animation: slideToBottom $animationTime ease;
            animation: slideToBottom $animationTime ease;
        }

    }

}