// requires "keyframes/slideToTop";
// requires "keyframes/slideFromBottom";

.animating {

    .slide.up {

        &.in {
            -webkit-animation: slideFromBottom $animationTime ease;
            -moz-animation: slideFromBottom $animationTime ease;
            animation: slideFromBottom $animationTime ease;
        }

        &.out {
            -webkit-animation: slideToTop $animationTime ease;
            -moz-animation: slideToTop $animationTime ease;
            animation: slideToTop $animationTime ease;
        }

    }

}